/*bandeau haut*/

header
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    background-color: #EC8A01;

}
 /* Ajouter Club/Membre Consulter dans la page welcome */

.haut a {
    text-align:center;
    text-decoration: none;
    color: red;
}

h3{
    text-align:center;
    font-size:22px;
}

.material-icons {
    padding-top: 5px;
    color:black;
    float: right;
    height: 20%;
    padding-right: 10px;

}

/* Image dans la page Welcome */
img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Bouton rouge pour ajouter */

.button {
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}

/* Bouton bleu pour modifier */

.button2 {
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#1801E8;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}