
header/*bandeau haut*/
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    background-color: #EC8A01;

}

.material-icons {
    padding-top: 5px;
    color:black;
    float: right;
    height: 20%;
    padding-right: 10px;

}

/* logo ajout*/

.fa {

    color:green;
}

/* logo edit */

.fa-edit {
    color: black;
}
/* logo corbeille*/

.fa-trash-o{
    color: black;
}
